body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personal-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.bio-image{
    width: 200px;
    height: 200px;
}

